# Introduction to Python

### About the Tutor

My name is [Kasia](https://kasia.codes/) and I'm a DPhil student in Genomic Medicine and Statistics* at the [Wellcome Centre for Human Genetics](https://www.well.ox.ac.uk/), University of Oxford. I'm also the President of [NGSchool Society](https://ngschool.eu/) where with an amazing group of [people](https://ngschool.eu/people/) we try to build international community for computational biologists with training, platforms to network and exchange knowledge. Be sure to check out more on our social media ([twitter](https://twitter.com/NGSchoolEU) and [fb](https://www.facebook.com/NGSchool.eu/)) and [join us on discord](https://discord.gg/MhNeqwR).

Hope you'll enjoy this workshop. If you have any questions ask me straight away by raising your hand or posting on Slack. If you are reading this outsde of the classroom, go aheas and shoot me [an email](mailto:kasia@well.ox.ac.uk) in case you have some questions.

Feel free to leave your comments and/or find some bugs. Create an issue, or better yet - fix it and create a pull request. Who knows, if I get the chance I might buy you a beer as a thank you ;)

\*btw. if you're looking for a PhD, look [this one up](https://www.medsci.ox.ac.uk/study/graduateschool/courses/dtc-structured-research-degrees/genomic-medicine-and-statistics) as it is quite interesting and comes with generous funding!

## Why Python?

![](https://imgs.xkcd.com/comics/python.png)


The title of the [graphic](https://imgs.xkcd.com/comics/python.png): _I wrote 20 short programs in Python yesterday. It was wonderful. Perl, I'm leaving you._

**Python advantages, or in other words "Why Python?"**

1. Easy to read, easy to learn.

    The code you write in Python resembles instructions you would give to someone (here: computer) in English. Behind the curtain the code is automatically converted to a set of instructions your computer understands.

2. Vast repository of libraries providing necessary extensions.

    As in the comic above - if you need sth, there's probably a package in Python with the tools you need. Just import it `import some_package` and you're good to go.

3. Portable throughout platforms.

    Provided that the code is run with the same version - it should run exactly the same on Linux, Widnows or Mac machines.

4. It's easy to leverage other languages speed (such as C/C++ or others) by combining it with Python code.

    There are still some moments where Python is not as quick as we would need it to be. But, it's super easy to implement C for example. According to Python Manual _It is quite easy to add new built-in modules to Python, if you know how to program in C. Such extension modules can do two things that canâ€™t be done directly in Python: they can implement new built-in object types, and they can call C library functions and system calls._ (you can read more [here](https://docs.python.org/3.7/extending/extending.html)). But even if you do not know how to write in C you still can benefit from its speed by using [Cython](https://cython.org/) - you have to slightly adjust your code (for one, define variable types) and run Cython extension which will translate as much as it can to C. Et voila!

5. Python is object-oriented.

    Everything in Python is an object which helps in solving complex problems. At the beginning it might be a bit hard to wrap your head around this, but don't worry - it gets easier!

## Introduction

Welcome to this **Introduction to Python** and basic tools necessary for data analysis. The idea of this workshop is to show you how things are done in Python, how to load the tools and learn to use them, but mostly give you a flavor of Python's possibilities and show you where to find help.  

We will be working with Python3, in Jupyter and we will be using the following packages:

* [NumPy](https://www.numpy.org/) - *the fundamental package for scientific computing with Python*
* [Pandas](https://pandas.pydata.org/) - *library providing high-performance, easy-to-use data structures and data analysis tools for the Python programming*
* [SciPy](https://www.scipy.org/) -  *Python-based ecosystem of open-source software for mathematics, science, and engineering*
* [Matplotlib](https://matplotlib.org/) - *2D plotting library which produces publication quality figures*

### Outline
1. Basics
    1. Variable and types
    2. Lists and more
    3. Controlling the flow
    4. Functions
    5. Modules
2. Data analysis
    1. Reading in and descriptive analysis with Numpy and Pandas
    2. Data exploration with SciPy
    3. Plotting with Matplotlib

__Short note on code styling__

The very best advice I got about how to write code and which style to use was that it doesn't matter which style you use as long as you are consitent! So I try to be.  

If you want to read more on recommended styling - you can read the [PEP 8 Style Guide](https://www.python.org/dev/peps/pep-0008/).

I name my variables usualy with `lower_snake` case, but as long as you're consistant and create names that mean something you can do whatever you want! If you want advice on how to name things, have a look at [those slides by Jenny Bryan](https://speakerdeck.com/jennybc/how-to-name-files).

<a href="https://github.com/allisonhorst/stats-illustrations"><img src="https://raw.githubusercontent.com/allisonhorst/stats-illustrations/master/other-stats-artwork/coding_cases.png" alt="In that case - naming styles guide" style="width: 600px;"/></a>

Artwork by [@allison_horst](https://twitter.com/allison_horst)

***
## Basics

Historically, the first thing you *ought* to do in any given programming language is to print the *Hello world!* statement. In order to this in Python3 you just call a *function* - print() and provide it with an *string argument*, as follows:

In [1]:
print("Hello world!")

Hello world!

In [2]:
# Now it's your turn. write line of code that will print a greeting to you.
# In my case, that would be print("Hello Kasia!") which will print "Hello Kasia!".
# Type it here and press run.
print("Hello Amelia")

Hello Amelia

**Comments**

Everytime we write code we strive to make it self-explanatory. However, whenever you want to describe what your code does you shoudl use comments. In my book - more often it's better to elave too much comments than to comment too vaguely.

```python
# Text proceeded with the hashtag sign (#) are not executed and serve as comemnts.

# There are also special kind of comments - so called docstrings.
# You'll find them inside functions, they are use to translate
# the comment into the proper docummentation.

def add_two_numbers(a, b):
    """Adds two integers.
    Args:
        two integers
    Returns:
        sum of the arguments
    """
    int(a) + int(b)
```

***
### Variables and Types

#### Strings

Strings are defined by single ' ' or double " " quotations.  
We assign value to variable by writing its desired name (no white spaces!) followed by equal sign and the value.

In [3]:
my_string = 'This is my string'
print(my_string)

This is my string

In [4]:
len(my_string) # string lenght

17

We can access each character from a string. Nothe that Python counts from 0, that means that if you want to access T from `mystring` you need to call for position 0.

In [5]:
my_string[0]

'T'

We can also get the characters from the end. Again, we are counting from the start, but to the left. I.e., to access last character we need to call for -1, second to last -2 and so on.

We can access slices of a string...

In [6]:
my_string[0:4]

'This'

In [8]:
my_string[-1]

'g'

... and create new strings by using `+` and `*` operations.

In [9]:
my_new_string = my_string + ' that I changed!'
my_newer_string = my_string * 3
print(my_string)

This is my string

In [10]:
print(my_new_string)

This is my string that I changed!

In [11]:
print(my_newer_string)

This is my stringThis is my stringThis is my string

There are few methods specific for strings that will come in handy in your everyday programming. Let me quickly introduce those.

* `find(pattern)` - Finds the start position of the pattern; returns -1 if no match;
* `replace(pattern, replacement)` - Replaces all occurences of a pattern with replacement;
* `upper()`, `lower()` - converts to upper or lowercase;
* `strip(character)` - strip string of a character (removes occurence of the character at the beggining and end of a string;
* `rstrip()` - strips trsings of whitespace characters on the right side.

In [15]:
hello_kasia = 'Hello Kasia!'
hello_adam = hello_kasia.replace('Kasia', 'Adam').upper()

print(hello_kasia)

Hello Kasia!

In [16]:
print(hello_adam)

HELLO ADAM!

In [18]:
deep_quote = 'Be yourself; everyone else is already taken.'
deep_quote.split(';')

['Be yourself', ' everyone else is already taken.']

We can apply more than one method of an object. The methods are executed from left to right.

In [21]:
another_deep_quote = '"Two things are infinite: the universe and human stupidity; and I\'m not sure about the universe."\n'
another_deep_quote.rstrip().lower().split(' ')

['"two',
 'things',
 'are',
 'infinite:',
 'the',
 'universe',
 'and',
 'human',
 'stupidity;',
 'and',
 "i'm",
 'not',
 'sure',
 'about',
 'the',
 'universe."']

The same thing can be achieved if we create intermediate variables.

In [23]:
another_deep_quote_stripped = another_deep_quote.rstrip()
another_deep_quote_stripped_and_lower = another_deep_quote_stripped.lower()
another_deep_quote_stripped_lower_and_split = another_deep_quote_stripped_and_lower.split(' ')
another_deep_quote_stripped_lower_and_split

['"two',
 'things',
 'are',
 'infinite:',
 'the',
 'universe',
 'and',
 'human',
 'stupidity;',
 'and',
 "i'm",
 'not',
 'sure',
 'about',
 'the',
 'universe."']

There is one last important function worth mentioning here. We can `format()` the strings by using other strings (not only strings, but we will talk about this later) as arguments.

In [25]:
# before we start, type in your name here
your_name = 'Amelia'

In [26]:
'Hello %s! Hope you are enjoying this %s class. :)' % (your_name, 'Python')

'Hello Amelia! Hope you are enjoying this Python class. :)'

In [27]:
# This is equivalent to the following:
'Hello {yname}! Hope you are enjoying this {lang} class. :)'.format(yname = your_name, lang = 'Python')

'Hello Amelia! Hope you are enjoying this Python class. :)'

In [28]:
lang = 'Python'
f'Hello {your_name}! Hope you are enjoying this {lang} class. :)'

'Hello Amelia! Hope you are enjoying this Python class. :)'

In [29]:
'Hello {your_name}! Hope you are enjoying this {lang} class. :)'

'Hello {your_name}! Hope you are enjoying this {lang} class. :)'

In [ ]:
f'Hello {your_name}! Hope you are enjoying this {lang} class. :)'

NameError: name 'your_name' is not defined

##### Numbers

In [ ]:
my_integer = 1
my_float = 2.34567

In [ ]:
print(my_integer)

In [ ]:
print(my_float)

In [ ]:
my_float + my_integer

**Using Python as a calculator**

Now, that we know a little about numbers and how to assign variables we can learn how to use Python as a calculator.

Basic operations:

|Operator|Operation|
|:--:|---|
|+|addition|
|-|substration|
|\*|multiplication|
|/|division|
|//|floor division|
|%|modulo|
|\*\*|power|

***

**Excercise**
Multiply the reminder of division 456 by 87 by 21 and raise it to the power of 3. Get the floor division of this number by 11. Save the result to a variable *result*.

In [33]:
# write your formula here
(((456%87)*21)**3)//11

7796920

In [ ]:
# Did it work?
result == 7796920

**Side Note: On numbers and precision**

The numbers in computers are represented as a base of 2, not a base of 10 like we are used to in everyday life. What that means is that sometimes computer will store an aproximation of a number, rather than an exact number.   

For example 10 will be represented as 1 x 8, 0 x 4, 1 x 2 and 0 x 1 rather than 1 x 10 and 0 x 1. That generates difficulties when we want to store a decimal number.   

In order to store 1/10 in the base 2 system we would have to save it as an infinite sum.

1/10 = 1/16 + 1/32 + 1/256 + 1/512 ...

Therefore, 1/10 in our computers is only an approximation. You can read more about this [here](https://docs.python.org/3/tutorial/floatingpoint.html).

That's why:

In [ ]:
# This is not true
0.1 + 0.1 + 0.1 == 0.3

In [ ]:
# Nor is this
round(0.1, 1) + round(0.1, 1) + round(0.1, 1) == round(0.3, 1)

In [ ]:
# But this is
round(0.1 + 0.1 + 0.1, 10) == round(0.3, 10)

##### Mixing numbers and strings
We can assign more than one variable at a time. We do that by separating each of the assignment with comma. Note, that the number of variable names and values has to be equal.

In [ ]:
a, b, c = 1, 2.01, 'three'
print(b)

In [ ]:
type(b)

Also, we can convert a number to a string, for example to check how many digits has a really big number.

In [ ]:
# Let's check length of a big number
big_number = 23 ** 1992
len(str(big_number))

Similiarly of course we can transform string to a number. This might come in handy while extracting a number from text.

In [ ]:
a = str(int('1234') + 56)
b = int('1234' + str(56))

Is a equal b? What's the difference?

In [ ]:
# To check your answer print both numbers
print(a == b)

In [ ]:
print(a)

In [ ]:
print(b)

***
### Lists and more

#### Lists

In [ ]:
my_list = [1, 2, ['three', 4], 5.5]
print(my_list)

As with the strings, we can access the elemnts of the list from left and right side.

In [ ]:
print(my_list[1:])

In [ ]:
print(my_list[1:3])

In [ ]:
print(my_list[0])

In [ ]:
# Note, this will get us elemnts at position 3 and 4
print(my_list[-2:])

In [ ]:
print(my_list * 2)

We can modify elements of the list:

In [ ]:
print(my_list)

In [ ]:
my_list[1] = 'seven'
print(my_list)

In [ ]:
my_list2 = my_list
my_list2[0] = '1'
my_list2[1] = "second_element"

In [ ]:
print(my_list)

In [ ]:
my_list3 = my_list.copy()
my_list3[0] = "seventy_seven"

In [ ]:
print(my_list3)

In [ ]:
print(my_list)

and add elements to the list by creating a new one.

In [ ]:
my_new_list = my_list + ['new element']
print(my_new_list) # the new list has the new element
print(my_list) # however the original list was left unchanges

If we want to modify the list on the fly, we can add new element with the `append()` method.

In [ ]:
my_list.append('new element')
print(my_list)

Note that `append()` always add its argument as a new element. Therefore, if we want a list as an element of our list we can do that with append. On the other hand, if we want to add multiple elements to a list - we should rather use `extend()`.

In [ ]:
my_list.append([1,2,3,4])
print(my_list)

In [ ]:
my_list.extend([1,2,3,4])
print(my_list)

***

**Excercise:** Given a list `names = ['Kasia', 'Jasio', 'Zuzia', 'Amelka']` answer the following questions:

* What will `names[-2]` output?
* What will `sorted(names)[1]` ourput?
* What will the following command  - `len(names[1:3])` equeal to?

**Don't run the code below until you try answering the questions!**

In [ ]:
names = ['Kasia', 'Jasio', 'Zuzia', 'Amelka']

In [ ]:
names[-2]

In [ ]:
sorted(names)[1]

In [ ]:
len(names[1:3])

#### Tuples

Tuples are similiar to lists - they are a collection of items separated by commas and enclosed in parenthesis - (). Their elements can be accessed by their position, however, unlike lists their shape is constant. They cannot be updated.

In [ ]:
my_tuple = (1, 2, 3, 4)
print(my_tuple)

In [ ]:
print(my_tuple[2])

In [ ]:
print(my_tuple[1:3])

In [ ]:
print(my_tuple * 2)

In [ ]:
my_tuple.append(1)

#### Sets

Sets are special collection in Python - they are unordered, unindexed and all their entires are unique. We create sets by using curly brackets {} or by using the `set()` function.

In [ ]:
my_set = {'a', 'b', 3, 'b'}
my_set2  = set(['a', 'b', 3, 'b'])
print(my_set)

In [ ]:
print(my_set2)

The sets cannot be accessed as list - they are unordered and unindexed. Uncomment the following two lines and see what happens.

In [ ]:
my_set[2]

In [ ]:
print(my_set * 2)

However, similiarly to lists, we can add items to the set.

In [ ]:
my_set.add(7) # one element at the time
print(my_set)

In [ ]:
my_set.update([1, 2, 'f', 'g']) # multiple items at once
print(my_set)

#### Dictionaries
For people that have some experience with programming one might say that Python's dictionaries are kind of hash-table type. They work like associative arrays or hashes found in Perl. For others, with no background I like to say that the name - dictionary describes this type quite well. Dictionaries work in a way a real-life dictionary works - you can look up a value by it's key. You can look up a value (for example the translation od a word) by it key - this word in the language you know.

We create dictionares with curly brackets {}, however, unlike with sets - we provide key and a value for each item:

In [ ]:
my_dictionary = {
    'me': 'ja',
    'you': 'ty',
    'he': 'on',
    'she': 'ona',
    'hi': 'czesc'
}
print(my_dictionary)

We can also create a dictionary using a `dict()` function, the argument of the function has to be a sequence of (key, value) tuples.

In [ ]:
d = [('one', 1), ('two', 2), ('three', 3)]
d_dict = dict(d)
print(d_dict)

Let's check how to say you in Polish.

In [ ]:
my_dictionary['you']

We can add new entries to the dictionary.

In [ ]:
my_dictionary['ice cream'] = 'lody'
my_dictionary['pizza'] = 'pizza'
print(my_dictionary)

In the same way we can modify entries in the dictionary.

In [ ]:
my_dictionary['pizza'] = 'wloski placek' # roughly translates to italian pie
print(my_dictionary)

We can access all the keys by calling `keys()` function on our dictionary.

In [ ]:
print(my_dictionary.keys())

We can also access all the values by calling `values()` function on our dictionary.

In [ ]:
print(my_dictionary.values())

***

**Excercise**: You need to save few phone numbers of your friends (Kasia +48300200100, Maja +48564763562, Jacek +48600500400). Which of the above will you use to quickly access those numbers?

In [ ]:
# Create your phonebook here
phone_book =

**Excercise:** You have a long list of duplicate entries. How will you remove duplciates and create a new list with only unique values?

In [ ]:
long_list_of_duplicates = [1, 7, 1, 2, 3, 5, 16, 7, 8, 17, 13, 23, 21, 34, 55, 23, 89, 1, 2, 3, 34, 4, 5, 6, 34, 7, 8, 4, 9, 10, 21, 11, 12, 13]
print(len(long_list_of_duplicates)) # 34

In [ ]:
# Create your new list
new_list =

# test
len(new_list) == 20

***
### Controlling the flow

#### Logic in Python

Logical operators in Python:
* `True`, `False` are respectively equal to `1` and `0`;
* all objects have boolean value, and exept for `False`, `0`, `None` or empty collections (`""`, `[]`, `{}` and `()`) every other objects are `True`;
* `and` - both values have to be true for it to be true;
* `or` - at least one turth makes the statement true;
* `not` - negation of the value;
* `is` - checks if are the same object;
* comparisons:   

| symbol | meaning |  
| --- | --- |  
| == | is equal|  
| != | is not equal|  
| > | greater than|  
| >= | greater or equal to|  
| < | less than|  
| <= | less or euqal to|

In [ ]:
# Definitions
a = True
b = False
c = d = 1
true_statement = d > 0

`1` is equal to `True` but those are two different objects.

In [ ]:
print(a == c)

In [ ]:
print(a is c)

In [ ]:
print(c is d)

In [ ]:
print(a != b)

In [ ]:
print((a or b) and (a and not b))

Objects do evaluate as either `True` or `False`:

In [ ]:
not_empty_list = [1, 2, 3]
if len(not_empty_list) > 0:
    print("{} is true.".format(not_empty_list))

In [ ]:
empty_list = []
if not empty_list:
    print("{} isn't.".format(empty_list))

however they act a bit differently when used within logical opperations.

In [ ]:
print(not(False or False) or 1)

In [ ]:
print(not(247 % 5 or 234 % 2) or 1 == 9)

In [ ]:
print(not(247 % 5 or 234 % 2) or [1, 2, 3])

***

**Excercise:** Answer the following questions:

* What is the result of 10 == â€œ10â€
* What is the result of not(True or False)?
* What is the result of not 'bag'?
* Tricky question: What is the result of â€œbagâ€ > â€œappleâ€?  Why?

**Don't run the following before you try answering the questions!**

In [ ]:
print(10 == "10")

In [ ]:
print(not(True or False))

In [ ]:
print(not 'bag')

In [ ]:
print("bag" > "apple")

#### Conditions: `if`, `else` and `elif`

The basic statement controlling flow is the statement if - If certain condition is met do sth. For example, if you input

In [ ]:
x = int(input('Please, provide a number greater than 0: '))
if x > 0:
    print('Thanks!')
else:
    print('Hmm, {} is not greater than 0!'.format(x))

In [ ]:
x = int(input('Please, provide a number greater than 0: '))
if x > 0:
    print('Thanks!')
elif x == 0:
    print('Hmm, {} is 0, therefore not greater than 0!'.format(x))
else:
    print('Hmm, {} is not greater than 0!'.format(x))

#### Loops: `for` and `while`

Those statements allow us to repeat a certain procedure over an iteration of sorts. For example, let's say that for every odd number lower than 10 we would want to learn the value of this number taken to the power of 3. We can do it like this:

In [ ]:
print(1**3)
print(3**3)
print(5**3)

and so on. Or, we can write it like this:

In [ ]:
# range(1, 10, 2) takes a range from 1 to 10 and takes every other number
for i in range(1, 10, 2):
    print(i**3)

By modifying the above example we can get the sum of all odd numbers bigger than 0 and smaller than 100.

In [ ]:
odd_sum = 0
for i in range(1, 100, 2):
    odd_sum += i**3 # += is an abbreviation for odd_sum = odd_sum + i**3

print(odd_sum)

Other statement that allows us to execute the same command multiple times is the statement `while`. You can think of this as - while something is true, do this. Coming back to our example from earlier:

In [ ]:
is_greater = False
while not is_greater:
    x = int(input('Please, provide a number greater than 0: '))
    if x > 0:
        is_greater = True
    else:
        print('We are still looking for a number greater than zero ;)')
print('Thanks!')

#### More control flow tools: `continue` and `break`

The `break` statement breaks out of the looop, i.e. stop any following iterations of the loop.

In [ ]:
while True:
    x = int(input('Please, provide a number greater than 0: '))
    if x > 0:
        break
    else:
        print('We are still looking for a number greater than zero ;)')
print('Thanks!')

Another example of a `break` statement. Note, `break` only influences the loop it was put into.

In [ ]:
for n in range(2, 10):
    for x in range(2, n):
        if n % x == 0:
            print(n, 'equals', x, '*', n // x)
            break # breaks out of the second for loop
    else:
        # loop fell through without finding a factor
        print(n, 'is a prime number')

`continue` goes to another iteration skipping the remainder of the loop.

In [ ]:
for num in range(2, 10):
    if num % 2 == 0:
        print("Found an even number", num)
        continue # next line will not get executed if this is reached
    print("Found an odd number", num)

In [ ]:
for num in range(2, 10):
    if num % 2 == 0:
        print("Found an even number", num)
    else:
        print("Found an odd number", num)

***

**Excercise:** Write a loop that will print the following pattern:  
 1    
22  
333  
4444  
55555  
666666  
7777777  
88888888  
999999999

In [ ]:
# write your code here

***
### Functions

There are many [built-in functions in Python](https://docs.python.org/3/library/functions.html), there is a universe of those available in various packages. That said, sometimes we need to do an operation that is really specific, or simply not worth loading a whole package. Any operation that can be put into function, most likely should be put into a function. Functions in Python are defined with `def` statement as follows:

In [ ]:
def function_name(function_arguments):
    # the body of the function. i.e. what it should do with the arguments
    print()

For example, a simple function performing addition.

In [ ]:
def add(a, b):
    # adds two numbers
    print("The sum of a = {} and b = {} is equal to {}".format(a, b, a + b))

Notice, that we can provide arguments by possition, or by name.

In [ ]:
add(1, 4)

In [ ]:
add(b = 4, a = 1)

Notice that a and b inside the function are local and inside the function, they overwride whatever other variables you can have defined globally. However, the excecution of the function will not change those variables in your global eniroment. That said, it's better to call variables with a bit more inforative names than a and b, and to also avoid using the same name for different things.

In [ ]:
x = 5
b = 7
add(b, x)

In [ ]:
print(x)

In [ ]:
print(b)

Now, a let's look at another example.

In [ ]:
# Let's write a function that calculates an arithmetic mean
def arithmetic_mean(input_numbers):
    # input_numbers is a list
    return sum(input_numbers) / len(input_numbers)

Now, we can use our function in a loop.

In [ ]:
even_numbers = range(2, 100, 2)
s = 0
for number in even_numbers:
    s += arithmetic_mean([number, s])
print(s)

Obviosly, this will still work if you wouldn't create a function. However, the function adds to readebilty of the code as well, as to its potential for development.

In [ ]:
even_numbers = range(2, 100, 2)
s = 0
for number in even_numbers:
    s += sum([number, s]) / len([number, s])
print(s)

#### Side note: testing

When writing a function - it's always good to think of what you expect and what potential errors can arrisen while executing the code. This helps prevent your code from crushing. It also allows you to print more human readable error messages.

In [ ]:
def arithmetic_mean_long(input_numbers):
    """Calculates arithmetic mean
    Args:
        List of numbers
    Returns:
        Arithmetic mean
    """
    try:
        result = sum(input_numbers) / len(input_numbers)
    except TypeError:
        not_numbers = [number for number in input_numbers if isinstance(number, (int, float)) == False]
        print('ERROR: Input must contain only numbers! Those are not numbers: {}'.format(not_numbers))
    except ZeroDivisionError:
        print('ERROR: Input cannot be empty!')
    else:
        return result

In [ ]:
test1 = [1, 2, 3, 4, 5]
arithmetic_mean(test1)

In [ ]:
arithmetic_mean_long(test1)

In [ ]:
test2 = [1, 2, 3, '4', '5']
arithmetic_mean(test2)

In [ ]:
arithmetic_mean_long(test2)

In [ ]:
test3 = []
arithmetic_mean(test3)

In [ ]:
arithmetic_mean_long(test3)

***

**Excercise:** Write a function called fizz_buzz that takes a number and:
* If the number is divisible by 3, it should print â€œFizzâ€.
* If it is divisible by 5, it should print â€œBuzzâ€.
* If it is divisible by both 3 and 5, it should printâ€œFizzBuzzâ€.
* Otherwise, it should print the same number.

In [ ]:
# write your function here
def fizz_buzz():

In [ ]:
# and test it
fizz_buzz(9) # Fizz

In [ ]:
fizz_buzz(25) # Buzz

In [ ]:
fizz_buzz(15) # FizzBuzz

In [ ]:
fizz_buzz(13) # 13

**Excercise:** Write a function for checking the speed of drivers. This function should have one parameter: speed.
* If speed is less than 70, it should print â€œOkâ€.
* Otherwise, for every 5km above the speed limit (70), it should give the driver one demerit point and print the total number of demerit points. For example, if the speed is 80, it should print: â€œPoints: 2â€.
* If the driver gets more than 12 points, the function should print: â€œLicense suspendedâ€

In [ ]:
# write your function here
def check_the_speed():

In [ ]:
# let's test it:
check_the_speed(64) # Ok

In [ ]:
check_the_speed(71) # Points: 1

In [ ]:
check_the_speed(83) # Points: 3

In [ ]:
check_the_speed(131) # Licence suspended

# Resources

## Books
* [Python for Data Analysis](https://www.oreilly.com/library/view/python-for-data/9781491957653/)
* [Python in a Nutshell](http://shop.oreilly.com/product/0636920012610.do)
* [Think Python: How to Think Like a Computer Scientist](http://greenteapress.com/thinkpython/html/index.html) - wole book available online
* [A Byte of Python](https://python.swaroopch.com/) - whole book available online

## Interactive courses
* [Learn Python](https://www.learnpython.org/)
* [A Python crash course](https://www.grahamwheeler.com/posts/python-crash-course.html) - This one is aimed at people already programming in Java
* [Python for beginners](http://opentechschool.github.io/python-beginners/en/index.html)
* [Tech Dev Guide by Google](https://techdevguide.withgoogle.com/) - Google resources for learning and advancing your programming skills
* [Courses in Python on edX](https://www.edx.org/learn/python)
* [Codeacademy - Python3](https://www.codecademy.com/learn/learn-python-3) - unfortunately behind a paywall
* [10 Minutes to Pandas](https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html)
* [Exploratory Data Anylyses with Pandas and Numpy](https://www.grahamwheeler.com/posts/exploratory-data-analysis-with-numpy-and-pandas.html)

## Online IDEs
* [Repl](https://repl.it/languages/python3)

## Other
* [List of resources on Hackr.io](https://hackr.io/tutorials/learn-python)
* [Python excercises for beginners](https://programmingwithmosh.com/python/python-exercises-and-questions-for-beginners/)